# ===== Maven / Gradle =====
target/
build/

# ===== Eclipse / STS =====
.classpath
.project
.settings/
.factorypath

# ===== IntelliJ =====
.idea/
*.iml

# ===== VS Code =====
.vscode/

# ===== Spring Boot =====
*.log
logs/

# ===== Compiled files =====
*.class

# ===== Packaging =====
*.jar
*.war
*.ear

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Security (IMPORTANT) =====
src/main/resources/application.properties
src/main/resources/application.yml
application.properties
application.yml
